body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: "calc(1.2rem + 5vw)" !important;
}

h2 {
  font-size: "calc(1rem + 2vw)";
}

h2,
h3 {
  margin-bottom: 0px !important;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --BellRed: rgb(240, 37, 37);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.App {
  width: 100vw;
  min-width: 100vw;
  overflow: hidden;
}

.paddingBottom {
  height: 200px;
}

/* Begin fonts */

@font-face {
  font-family: NameFont;
  src: url(./Assets/Fonts/Aloevera-OVoWO.ttf);
}

@font-face {
  font-family: coolFont;
  src: url(./Assets/Fonts/KrinkesDecorPERSONAL.ttf);
}

@font-face {
  font-family: coolFont2;
  src: url(./Assets/Fonts/HugsPersonalUseBold-Eaedj.ttf);
}

@font-face {
  font-family: coolFont3;
  src: url(./Assets/Fonts/NatureBeautyPersonalUse-9Y2DK.ttf);
}

@font-face {
  font-family: coolFont4;
  src: url(./Assets/Fonts/SoftSansSerif7-7BDyw.ttf);
}

/* End fonts */

/* begin display utilities */

.coolFont1 {
  font-family: coolFont;
}

.nameFont2 {
  font-family: coolFont3;
  color: var(--BellRed);
}

.nameFont {
  font-family: NameFont;
}

.coolFont4 {
  font-family: coolFont4;
}

.background {
  background-image: url(./Assets/Images/background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  height: 100%;
}

.mt {
  margin-top: 10px;
}

/* end display utilities */

/* cool button stuff */

.hireMeButton {
  width: 10vw;
  height: 5.5vh;
  box-shadow: 0px 0px 0px 0px black;
  border: 2px solid black;
  border-radius: 30px;
  font-size: 1vw;
  font-family: coolFont3;
  color: white;
  background: linear-gradient(
    27deg,
    rgba(236, 10, 87, 1) 30%,
    rgba(68, 157, 47, 0.7511379551820728) 46%,
    rgba(81, 79, 219, 0.8995973389355743) 60%,
    rgba(210, 79, 219, 0.8995973389355743) 80%
  );
  padding: 0.6em 2em;
  border: 2px solid white;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.hireMeButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.hireMeButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.hireMeButton:hover {
  box-shadow: 0px 0px 49px 3px rgba(0, 225, 255, 1);
}

/* end cool button stuff */

.horizontalLine {
  background-color: var(--BellRed);
  width: 300px;
  height: 6px;
  border-radius: 5px;
}

.transparentBackground {
  border-radius: 10px;
  background-color: #11111150;
}

.iconSizer {
  height: calc(4rem + 1vw);
  width: calc(4rem + 1vw);
}

.iconHelper > img {
  margin: 10px;
  transition-duration: 0.4s;
}

.iconHelper > img:hover {
  transform: translateY(-10px);
  transition-duration: 0.3s;
}

.iconHelper::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
  height: 1vh;
}

.jbLogo {
  width: 80px;
  transform: translateY(-10px) translateX(10px);
}

.iconHelper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #737272;
  border: 1px solid #000;
}

.videoCont {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--BellRed);
}

.row {
  margin-right: 0px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: teal;
}

/* ----- project section -------- */

.projectSnapshot {
  width: 100%;
  background-image: url("./Assets/Images/portalfi-screenshot.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: 10px solid var(--BellRed);
}

.sideNavigation {
  position: fixed;
  cursor: pointer;
  bottom: 30vh;
  right: 0;
  overflow: hidden;
}

.sideNavigation > div {
  width: 320px;
  display: flex;
  justify-content: start;
  align-items: center;
  transform: translateX(250px);
  transition-duration: 1s;
}

.sideNavigation > div:hover {
  transform: translateX(0px);
  transition-duration: 0.8s;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 0px 2px 1px rgb(128, 127, 127);
}
.sideNavigation > div:nth-child(1):hover {
  transform: translateX(150px);
}
.sideNavigation > div:last-child:hover {
  transform: translateX(80px);
}
.sideNavigation > div:nth-child(3):hover {
  transform: translateX(60px);
}
.sideNavigation > div > img {
  width: 80px;
  height: 60px;
}
.sideNavigation > div:nth-child(2) > img {
  width: 50px;
  margin-left: 15px;
  margin-right: 20px;
}
.sideNavigation > div:nth-child(3) > img {
  width: 40px;
  margin-left: 23px;
  margin-right: 20px;
}

.sideNavigation > div:last-child {
  background-color: rgb(16, 185, 192);
  border-bottom-left-radius: 30px;
}
.sideNavigation > div:nth-child(2) {
  background-color: rgb(2, 132, 199);
}
.sideNavigation > div:nth-child(3) {
  background-color: rgb(245, 158, 11);
}
.sideNavigation > div:first-child {
  background-color: rgb(16, 185, 192);
  border-top-left-radius: 30px;
}
